<!-- Start Capabilities Section -->
<div id="capabilities-section">
<div class="container">
  <div id="capabilitiesGroup" >
<div class="capabilities-buttons">
<p>
  <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" data-parent="capabilitiesGroup" data-toggle="collapse">
    Cabinets
  </a>
  <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" data-parent="capabilitiesGroup" data-toggle="collapse">
    Metals
  </a>
  <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" data-parent="capabilitiesGroup" data-toggle="collapse">
    Plastics
  </a>
  <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" data-parent="capabilitiesGroup" data-toggle="collapse">
    Printing
  </a>
</p>
</div>

  <div class="collapse" id="collapseOne">
    <div class="card card-block">
      <div class="row">
      <div class="col-sm-7">
        <h2>Cabinets</h2>
        <p>The Bricolage Cabinet division designs and manufactures cabinets, shelving, countertops and carts, no matter how many you need, and we do it fast. We specialize in melamine, stainless steel, plastics and 80/20 components. Various combinations of materials can be used to achieve your desired result.</p>

        <p>We offer off-the-shelf hardware and locks. If stock products don’t meet your requirements, we will design and build whatever you like.</p>

        <p>Our caster inventory includes several styles to meet a variety of needs. If our selection does not meet your needs, we will find the appropriate product for your project.</p>

        <p>For more information on Cabinets, or if you would like a quote, email us or call 614-853-6789.</p>

        <h3>Equipment</h3>
        <ul>
          <li> SCMI - Morbidelli 636Top CNC</li>
          <li> SCMI -  Olimpic SE215 Edgebander</li>
          <li> SCMI - Olimpic S2000 Edgebander</li>
          <li> Black Bros.- Almex 3D Thermo Laminator</li>
          <li> Vaculex - VL140 Vacuum Lift</li>
          <li> Best - Power flex 15 Auto Conveyors</li>
          <li> Jet - Horizontal Metal Saw</li>
          <li> Maggi - 12” Radial Arm Saw</li>
          <li> Powermatic - 10” Table Saw</li>
          <li> Powermatic - 18” Variable Speed Drill Press</li>
          <li> Ryobi - 12” Drill Press</li>
          <li> Omal - Boring Machine</li>
        </ul>
      </div>
      <div class="col-sm-5">
        <div class="carousel-holder">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
          <img class="d-block img-fluid" src="/assets/images/cabinets/cabinet-1_0.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
          <img class="d-block img-fluid" src="/assets/images/cabinets/cabinet-2_0.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
          <img class="d-block img-fluid" src="/assets/images/cabinets/cabinet-3_0.jpg" alt="Third slide">
          </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>

  <div class="collapse" id="collapseTwo">
    <div class="card card-block">
      <h2>Metals</h2>
      <p>The Bricolage Metal division uses proprietary and CAD/CAM design and fabrication expertise to quickly design and manufacture solutions to your requirements.</p>

      <p>Our designs are made of stainless steel, low carbon steel and aluminum. And we carry many types and finishes of stainless steel.</p>

      <p>Our skilled fabricators can blend and finish material to your requirements. Low carbon steel can be powder coated to give you a high-quality and durable finish. Aluminum products can be anodized.</p>

      <p>Your metal products can be spot, TIG or MIG welded. They can also be assembled with a full range of mechanical fasteners including off-the-shelf hardware. If stock hardware and locking mechanisms will not solve your problem Bricolage’s engineers and designers will craft a solution for you.</p>

      <p>In addition to computerized press brake and several multi-axis machining centers, Bricolage has a range of manual equipment for machining, bending, shearing, punching, turning and milling. Your cost can also be reduced with our waterjet cutter.</p>

      <p>For more information on Metals, or if you would like a quote, email us or call 614-853-6789.</p>

      <h3>Equipment</h3>
      <ul>
        ​<li>HAAS VM-3 CNC Vertical Milling Machine</li>
        <li>HAAS ST-10Y CNC Lathe</li>
        <li>Trumph Manual Milling Machine</li>
        <li>Flow Mach4 CNC Waterjet</li>
        <li>Baykal APHS 3104x90 100 ton CNC Brake 7 axis</li>
        <li>Dake Drill Press</li>
        <li>DoAll Band Saw</li>
        <li>Roto-Finish: Vibratory Finisher</li>
        <li>Miller Welding Equipment (MIG & TIG)</li>
        <li>Nelson Stud Welder</li>
      </ul>
    </div>
  </div>


  <div class="collapse" id="collapseThree">
    <div class="card card-block">
      <h2>Plastics</h2>
      <p>The Bricolage Plastics division has the engineering, design and manufacturing capability to quickly convert your ideas into high-quality products that meet your needs. Our basic capabilities combined with proprietary, computerized design and manufacturing resources let us deliver specialized products to you in a short amount of time. We can ship a prototype if desired. We design products using 3D and articulation software.</p>

      <p>When you approve your design the CAD specifications go to our wide range of CNC equipment, including waterjet cutting, to quickly manufacture and ship your order or prototype. We stock many types of plastic for immediate use to fulfill your special requirements. Our inventory includes a wide range of sizes, thicknesses and colors of acrylic, polycarbonate, PETG, PVC, polystyrene, HDPE, polyethylene, various foams and other types of plastic. If necessary, we can also order non-stock plastic for your project.</p>

      <p>Our dedicated team of engineers, designers, fabricators, welders and machinists will quickly respond to your needs. Services include hand fabrication, heat and press bending; welding includes solvent and adhesive, mechanical fasteners, thermoforming and molds, articulating components and locking systems and machining.</p> 

      <p>Additional plastic fabrication services include laser engraving and etching, CNC engraving, heat stamping and many types of adhesive label systems and signage substrates.</p> 

      <p>For more information on Plastics, or if you would like a quote, email us or call 614-853-6789.</p>

      <h3>Equipment</h3>
      <ul>
        <li>Universal Laser: ILS.12.150D (Dual 60W Laser Cartridges & 2' x 4' cutting area)</li>
        <li>AXYZ CNC Router (​4' x 8' Cutting Area: Single Router & Dual Router)</li>
        <li>United Silicone Hot Stamp Printer (US25)</li>
        <li>Heat Benders (2 Shannon HRK 125's & 2 Custom Built Units)</li>
        <li>MAAC Thermoformer (3-Station Rotary - Fully Programmable Operation & 4' x 4' max material capability)</li>
        <li>DMS 5-Axis Router</li>
        <li>Edge Finisher Co. Diamond Edge Polisher</li>
        <li>Flex Arm Pneumatic Drill</li>
        <li>Delta & Jet Bench Top Sanders</li>
        <li>Delta Table Saw</li>
        <li>Saw Trax Panel Saw</li>
      </ul>
    </div>
  </div>
  <div class="collapse" id="collapseFour">
    <div class="card card-block">
      <h2>Printing</h2>
      <p>The Bricolage Printing division is equipped with high-tech printing equipment to quickly transform your ideas into printed products. We produce labels, decals, banners, clings, stamps, magnets, plastic signs, Braille signage and other informational graphics to your specifications using multiple, diverse methods and materials. Regardless of the size or material your printed project requires, we will create it for you. We offer free design proofs and begin work on your project immediately after your approval.</p>

      <p>Labels and vinyl lettering can be cut to every shape or size; and you can choose whatever colors you want. And we can print orders in any quantity you select. We offer white or fluorescent paper, clear or white polyester for indoor use, white vinyl for short-term outdoor use, or premium white vinyl for extended outdoor use such as vehicle decals, etc.</p>

      <p>We design vibrant, eye-catching graphic decals using high-quality vinyl for long life and superior durability. Decals can be removed easily without damage to walls, fixtures or surfaces.</p>

      <p>Full-color banners for indoor/outdoor use are printed on durable 13 oz. vinyl with hemmed edges and metal grommets for hanging.</p>

      <p>Window clings and clear static clings can be reused multiple times and are ideal for use on windows to advertise special information. We can cut clings to any shape or size.</p>

      <p>We can create durable rubber preinked stamps to meet your requirements. These high-quality reinkable stamps in Black, Blue, Green or Red feature 600 DPI resolution to deliver a sharp, dry, crisp image every time. They can be used on coated and uncoated paper and with proper reinking they can last up to 50,000 impressions.</p>

      <p>Specially designed full-color magnets can be made to any shape or size. Choose magnets for everyday use or stronger vehicle magnets to display your project.</p>

      <p>We design non-adhesive transparent plastic Lexan signs to your specifications. Signs are perfect for doorknob hangers, keyboard overlays and can be hung in windows using suction cups.</p>

      <p>Tamper-resistant, indoor/outdoor ADA-compliant Grade 2 Braille signs feature universal tactile symbols, pictograms and letter images to help improve navigation and identification for the visually impaired. Signs meet all requirements set forth by the Americans with Disability Act.</p>

      <p>For more information on Printing, or if you would like a quote, email us or call 614-853-6789.</p>

      <h3>Equipment</h3>
      <ul>
        <li>Pad Printer</li>
        <li>Universal (CO2) Laser</li>
        <li>Mark Andy Flexo Press</li>
        <li>Mark Andy DCR Slitter / Rewinder</li>
        <li>Arpeco Slitter / Rewinder</li> 
        <li>Sohn Slitter / Rewinder</li>
        <li>Rotoflex Slitter / Rewinder</li>
        <li>Zed Heat Sealers</li>
        <li>Quick Label Thermal Ribbon Printers</li>
        <li>Brother Stamp Creator Pro</li>
        <li>HP Wide Format Printer</li>
        <li>Graphtec Plotter</li>
        <li>Wide Format Laminator</li>
        <li>Gerber Printer</li>
        <li>Gerber Plotter</li>
        <li>Dye-Sub Printing</li>
        <li>Transfer Heat Press</li>
        <li>Freeman Press</li>
        <li>Telesis Metal Marking Laser</li>
        <li>SpringLok Seal Hot Stamp Machine</li>
        <li>Security Seal Hot Stamp Machine</li>
        <li>United Silicone Hot Stamp Machines</li>
        <li>Roland CNC</li>
        <li>Centra Digital Printer</li>
        <li>Centra Die-less Finisher</li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
<!-- End Capabilities Section -->
