<!-- Start Callout Section -->
<div class="calloutSection">
  <div class="container">
    <h1>We Take You From Just An Idea, To A Finished Product!</h1>
  </div>
</div>
<!-- End Callout Section -->
<!-- Start Capabilities Section -->
<div id="capabilities-section" class="section">
  <div class="container">
    <h5>Capabilities</h5>
    <div class="capabilitiesWrapper">
      <div id="capabilitiesGroup" >
        <div class="capabilities-buttons">
        <p>
          <a class="btn btn-primary toggleButton" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" data-parent="capabilitiesGroup" data-toggle="collapse">
            Cabinets
          </a>
          <a class="btn btn-primary toggleButton" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" data-parent="capabilitiesGroup" data-toggle="collapse">
            Metals
          </a>
          <a class="btn btn-primary toggleButton" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" data-parent="capabilitiesGroup" data-toggle="collapse">
            Plastics
          </a>
          <a class="btn btn-primary toggleButton" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" data-parent="capabilitiesGroup" data-toggle="collapse">
            Printing
          </a>
        </p>
        </div>
        <div class="collapse show" id="collapseOne">
          {% include cabinetscard.html %}
        </div>

        <div class="collapse" id="collapseTwo">
          {% include metalscard.html %}
        </div>

        <div class="collapse" id="collapseThree">
          {% include plasticscard.html %}
        </div>
        <div class="collapse" id="collapseFour">
          {% include printingcard.html %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Capabilities Section -->
