  <div class="contact-section">
    <div class="container">
      <ul>
        <li><h3>Contact Info</h3></li>
        <li>Bricolage Inc.</li>
        <li>2989 Lewis Centre Way</li> 
        <li>Grove City, Ohio 43123</li>
        <li>614.853.6789</li>
        <li>contact@gobricolage.com</li>
      </ul>
    </div>
  </div>
<footer class="site-footer">

  <div class="container" id="bottomNav">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#learn-more">Our Process</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#capabilities-section">Capabilities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#getStartedModal">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://rew11.ultipro.com/HEA1012/JobBoard/ListJobs.aspx">Jobs</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" data-toggle="modal" data-target="#privacyModal">Privacy Statement</a>
    </li>
  </ul>
  </div>
</footer>
