  <div class="contact-section">
    <div class="container">
      <ul>
        <li><h3>Contact Info</h3></li>
        <li>Bricolage Inc.</li>
        <li>2989 Lewis Centre Way</li> 
        <li>Grove City, Ohio 43123</li>
        <li>614.853.6789</li>
        <li>contact@gobricolage.com</li>
      </ul>
    </div>
  </div>
<footer class="site-footer">

  <div class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Capabilities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Jobs</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" data-toggle="modal" data-target="#privacyModal">Privacy Statement</a>
    </li>
  </ul>
  </div>
</footer>
