<div id="video-banner" class="section">
  <div class="container">
    <ul class="list-unstyled">
      <li class="media">
        <iframe class="mediaVideo" width="560" height="315" src="https://www.youtube.com/embed/4_xJ-e3GTqs" frameborder="0" allowfullscreen></iframe>
        <div class="media-body">
          <h5 class="mt-0 mb-1">Your Short Run, Quick Turn, Design & Manufacturing Specialists</h5>
          Bricolage is a customer-driven manufacturing company committed to complete product development, from concept design to manufacturing and ongoing support. Our broad production capabilities allow us to develop short run, quick turn, manufacturing solutions. From our first contact with our customers to the time their products are delivered and thereafter, we are dedicated to providing ideal solutions to their unique needs.
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#getStartedModal">Contact Us</button>
        </div>
      </li>
    </ul>
  </div>
</div>
