<div id="video-banner" class="section">
  <div class="container">
    <div class="video-body row">
      <div class="col-xs-12 col-md-7 col-lg-8">
        <div class="embed-responsive embed-responsive-16by9">
          <video controls poster="assets/images/bricolage-company-placeholder.jpg" onclick="this.paused?this.play():this.pause();">
            <source src="assets/images/Bricolage.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-lg-4">
      <h5 class="mt-0 mb-1">Your Short Run, Quick Turn, Design & Manufacturing Specialists</h5>
      Bricolage is a customer-driven manufacturing company committed to complete product development, from concept design to manufacturing and ongoing support. Our broad production capabilities allow us to develop short run, quick turn, manufacturing solutions. From our first contact with our customers to the time their products are delivered and thereafter, we are dedicated to providing ideal solutions to their unique needs.
      <br>
      <a href="mailto:contact@gobricolage.com"><button type="button" class="btn btn-success">Contact Us</button></a>
      </div>
    </div>
  </div>
</div>
