<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-target="mainNav" data-spy="scroll">

    {% include header.html %}
    {% include learnmore.html %}
    {% include videobanner.html %}
    {% include capabilities.html %}


        {{ content }}


    {% include getstartedmodal.html %}
    {% include privacymodal.html %}

    {% include footer.html %}
    <script src="{{'/js/jquery/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/js/tether/tether.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/js/bootstrap/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/js/smooth-scroll/jquery.smooth-scroll.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/main.js' | prepend: site.baseurl}}"></script>
  </body>

</html>
